# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
DHIS_BUILTIN_FORM/node_modules
/www
DHIS_BUILTIN_FORM/www

/EOApp/node_modules
/EOApp/www

enhanced/node_modules
enhanced/www
enhanced/build
enhanced/yarn.lock
enhanced/package-lock.json

ltbi/node_modules
ltbi/www
ltbi/build
ltbi/yarn.lock

ltbi-mobile/node_modules
ltbi-mobile/www
ltbi-mobile/build
ltbi-mobile/platforms
ltbi-mobile/plugins
ltbi-mobile/package-lock.json
ltbi-mobile/debug.log

ovc/node_modules
ovc/build
ovc/yarn.lock
ovc/package-lock.json

SaveMyanmar/node_modules
SaveMyanmar/build
SaveMyanmar/yarn.lock
SaveMyanmar/package-lock.json

UNDP/node_modules
UNDP/build
UNDP/yarn.lock
UNDP/package-lock.json

undp-mobile/node_modules
undp-mobile/www
undp-mobile/build
undp-mobile/platforms
undp-mobile/plugins
undp-mobile/package-lock.json

/undp-tan

product/node_modules
product/build
product/yarn.lock
product/package-lock.json

savemyanmar-mobile/node_modules
savemyanmar-mobile/www
savemyanmar-mobile/build
savemyanmar-mobile/platforms
savemyanmar-mobile/plugins
savemyanmar-mobile/package-lock.json

platforms
plugins

Dashboard/OVC/node_modules
Dashboard/OVC/build
# testing
/coverage

# production
/build
build.zip

# package-lock
package-lock.json

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/src/services/CallAPI.js
/src/views/analytics_old.js
/src/views/smartsetup_old.js

.htaccess
DHIS_Platform_Application/yarn.lock
DHIS_BUILTIN_FORM/package-lock.json
DHIS_BUILTIN_FORM/package-lock.json
DHIS_BUILTIN_FORM/package-lock.json
ltbi/package-lock.json


Dashboard/OVC/node_modules
.clinic
.env.build
