@font-face {
  font-family: 'GlacialIndifference-Regular';
  src: url('GlacialIndifference-Regular.eot');
  src: url('GlacialIndifference-Regular.eot?#iefix') format('embedded-opentype'),
       url('GlacialIndifference-Regular.ttf') format('truetype'),
       url('GlacialIndifference-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

