body.theme_lightgreen{
	background-color: #ffff;
}

body.theme_lightgreen .main{
    background-color: #ffff;
}

body.theme_lightgreen .mainsection{
	width: auto;
    height: calc(100vh - 94px) !important;
    overflow-y: auto;
    padding-top: 65px !important;
    background-color: #ffff;
    overflow-x: hidden;
}

body.theme_lightgreen .mainsection.pT-55{
    padding-top: 55px !important;
}
@media only screen and (min-width: 1200px) {
    body.theme_lightgreen .mainsection.pT-55{
        padding-top: 70px !important;
    }
}

body.theme_lightgreen header{
	background-color: #ffff !important;
}

body.theme_lightgreen header svg{
	fill: #4DB6AC;
}

body.theme_lightgreen header h6{
	color: #060707;
}

body.theme_lightgreen .pageupperpart{
	height: calc(40vh - 35px);
}

body.theme_lightgreen .pagelaterpart{
	height: calc(60vh - 16px);
	background-color: #4DB6AC;
}

body.theme_lightgreen .pageupperpart .innerdiv{
	display: flex;
    align-items: center;
    flex-direction: column;
    height: calc(40vh - 68px);
    justify-content: space-evenly;
}

.pb-0{
	padding-bottom: 0px !important;
}

body.theme_lightgreen .mainsection.pb-0{
	height: 100vh !important;
    
}

body.theme_lightgreen .custom-shape-divider-top-1612935135 {
    position: absolute;
    /*top: 0;*/
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    margin-top: -12px;
    border-bottom: 2px solid #fff;
}

body.theme_lightgreen .custom-shape-divider-top-1612935135 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 150px;
    background-color: #4DB6AC;
}

body.theme_lightgreen .custom-shape-divider-top-1612935135 .shape-fill {
    fill: #ffff;
}

/** For mobile devices **/
@media (max-width: 767px) {
    body.theme_lightgreen .custom-shape-divider-top-1612935135 svg {
        width: calc(100% + 1.3px);
        height: 61px;
    }
    
    .migrantlogin{
        display: none;
    }

    /* body.theme_lightgreen .customregistrationtabs .fullWidth > div{
        padding-top: 45px !important;
    } */

    .searchcustombg{
        padding-top: 100px !important;
    }
}

.text-uppercase{
	text-transform: uppercase;
}

body.theme_lightgreen .loginpageformholder{
	height: calc(60vh - 65px);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    justify-content: center;
    flex-direction: column;
}

.w-100{
	width: 100%;
}

body.theme_lightgreen .loginpageformholder .MuiFormLabel-root.Mui-focused{
	color: #fff;
}

body.theme_lightgreen .loginpageformholder label.MuiInputLabel-animated {
    color: #fff;
    font-size: 14px;
    padding-left: 0px;
}

body.theme_lightgreen .loginpageformholder .MuiInputLabel-shrink {
    transform: translate(0, 1.5px) scale(1);
    transform-origin: top left;
}

body.theme_lightgreen .loginpageformholder .MuiInput-underline:before,
body.theme_lightgreen .loginpageformholder .MuiInput-underline:after{
	border-bottom: none !important;
}

body.theme_lightgreen .loginpageformholder input{
	background: #e6faf8;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 10px;
    padding-left: 5px;
}

body.theme_lightgreen .loginpageformholder .MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 0px) scale(1);
}

body.theme_lightgreen .loginsubmitbtn{
    padding: 25px 10px !important;
    font-size: 16px !important;
    text-transform: uppercase;
    font-weight: 600 !important;
    background-color: #338e80 !important;
    color: #fff !important;
    width: 100%;
     padding: 0px 12px !important; 
    font-size: 14px !important;
    text-transform: capitalize;
    font-weight: 600 !important;
    min-height: 36px !important;
}

body.theme_lightgreen .langprefpageformholder{
    height: calc(60vh - 44px);
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    justify-content: space-evenly;
    flex-direction: column;
}

body.theme_lightgreen .langprefpageformholder label.MuiFormControlLabel-root{
	background-color: #e6faf8;
	border-radius: 5px;
    margin: 10px 0px;
}

body.theme_lightgreen .langprefpageformholder .MuiRadio-colorSecondary.Mui-checked {
    color: #242f31 ;
}

body.theme_lightgreen .homemenupageholder{
    height: calc(60vh - 44px);
    position: relative;
    /* display: flex; */
    align-items: center;
    padding: 0px 0px;
    justify-content: center;
    flex-direction: column;
}

body.theme_lightgreen .homemenucontainer{
	background: #e6faf8;
    border-radius: 5px;
    padding:10px 5px;
    font-size: 14px;
    font-weight: 700;
    height: calc(100% - 20px);
}

body.theme_lightgreen .homemenucontainer svg{
	color: #4DB6AC;
    font-size: 40px;
}

body.theme_lightgreen .homemenucontainer span{
    white-space: normal;
    word-break: break-word;
}

body.theme_lightgreen a .homemenucontainer{
	color: #000 !important;
}

body.theme_lightgreen .bottomnavbar{
	position: fixed;
	bottom: 0px;
	width: 100%;
}

body.theme_lightgreen .bottomnavbar .MuiBottomNavigationAction-root{
	min-width: 50px;
	padding-top: 0px;
	padding-bottom: 0px;
}

body.theme_lightgreen .bottomnavbar .MuiBottomNavigationAction-label.Mui-selected {
    font-size: 0.875rem;
    font-size: 0.75rem;
}

body.theme_lightgreen .bottomnavbar .MuiBottomNavigation-root {
    height: 66px;
    display: flex;
    justify-content: space-between;
    background-color: #f9ffff;
    align-items: self-start;
}

body.theme_lightgreen .bottomnavbar .MuiBottomNavigationAction-root.Mui-selected {
    color: #2995d3;
    padding-top: 0px;
    font-weight: 600;
}

body.theme_lightgreen .bottomnavbar .MuiBottomNavigation-root svg{
	margin-top: 5px;
	color: #9f9f9f;
}

body.theme_lightgreen .bottomnavbar .MuiBottomNavigationAction-root.Mui-selected svg{
	color: #2995d3;
}

body.theme_lightgreen .bottomnavbar .MuiBottomNavigationAction-label{
	color: #9f9f9f;
    font-weight: 600;
}

body.theme_lightgreen .bottomnavbar .MuiBottomNavigationAction-label.Mui-selected{
	color: #2995d3;
}

body.theme_lightgreen .stepperdiv{
	position: fixed;
	bottom: 130px;
	width: 100%;
	margin-left: -12px;
	background-color: transparent !important;
	padding:0px !important;
}

body.theme_lightgreen .stepperbutton{
	position: fixed;
	bottom: 80px;
	width: 100%;
    margin-left: -12px;
}

body.theme_lightgreen .stepperbutton .MuiButton-containedPrimary {
    color: #fff;
    background-color: #1397c7 !important;
}

body.theme_lightgreen .stepperdiv .MuiStepIcon-root.MuiStepIcon-active {
    color: #1397c7;
}

body.theme_lightgreen .stepperdiv .MuiStepIcon-root.MuiStepIcon-completed {
    color: #1397c7;
}

body.theme_lightgreen .makeStyles-root-14,.bg-transparent ,
body.theme_lightgreen .bg-transparent > div{
    background-color: transparent !important;
}

body.theme_lightgreen .addclient-page .MuiTabs-root button.Mui-selected svg.MuiSvgIcon-root {
    background-color: #545454;
    fill: #fff;
    padding: 5px;
    border-radius: 50%;
}

body.theme_lightgreen .addclient-page .MuiTabs-root svg.MuiSvgIcon-root {
    background-color: #afabab;
    fill: #fff;
    padding: 5px;
    border-radius: 50%;
    font-size: 16px;
}

body.theme_lightgreen .addclient-page .MuiTabs-root button.Mui-selected span {
    color: #545454;
}

body.theme_lightgreen .addclient-page .MuiTabs-root button span {
    font-size: 12px;
    text-transform: capitalize;
}

body.theme_lightgreen .addclient-page .MuiTabs-indicator {
    color: #545454;
    background-color: #545454;
}

body.theme_lightgreen .searchtabmaindiv{
    height: calc(100vh - 165px) !important;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 10px;
}

body.theme_lightgreen .addclient-page .MuiBox-root {
    padding: 24px;
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 5px;
}

body.theme_lightgreen .addclient-page label + .MuiInput-formControl {
    margin-top: 20px;
}

body.theme_lightgreen .addclient-page label.MuiInputLabel-animated {
    color: #000;
    font-size: 16px;
    padding-left: 0px;
}

body.theme_lightgreen .addclient-page .MuiInputLabel-shrink {
    transform: translate(0, 1.5px) scale(1);
    transform-origin: top left;
    color: #545454;
}

body.theme_lightgreen .addclient-page .MuiInput-underline:after {
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    position: absolute;
    transform: scaleX(0);
    transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-bottom: 1px solid #545454 !important;
    pointer-events: none;
}

body.theme_lightgreen .addclient-page .MuiFormLabel-root.Mui-focused {
  color: #545454 !important;
}

body.theme_lightgreen .addclient-page .MuiFormControl-root{
    margin:0px !important;
}

body.theme_lightgreen .addclient-page .MuiTabs-root button span {
    font-size: 12px;
}

body.theme_lightgreen .login-submitbtnholder a {
    background-color: #545454;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #545454;
}

body.theme_lightgreen .login-submitbtnholder {
    margin-top: 30px;
}

body.theme_lightgreen .searchtabmaindiv .MuiAccordionSummary-root {
    background-color: #4DB6AC;
    color: #fff;
    border-radius: 4px;
}

body.theme_lightgreen .searchtabmaindiv .MuiAccordionSummary-root .MuiAccordionSummary-content p {
    color: #fff;
}

body.theme_lightgreen .searchtabmaindiv .MuiAccordionSummary-root span svg {
    fill: #fff;
}

body.theme_lightgreen .addclient-page .MuiPaper-root{
    background-color: transparent;
    box-shadow: none;
}

body.theme_lightgreen .addclient-page .MuiCollapse-container{
    background-color: #fff;
}

body.theme_lightgreen .addclient-page .MuiButtonBase-root.MuiAccordionSummary-root.Mui-expanded{
    margin-bottom: 0px;
}

body.theme_lightgreen .riskselectiondiv label {
    margin: 0px !important;
    border: 2px solid #ddd;
    border-radius: 4px;
    margin-bottom: 20px !important;
    background-color: #ebebeb;
}

body.theme_lightgreen .addclient-page .MuiCheckbox-colorSecondary.Mui-checked {
    color: #545454;
}

body.theme_lightgreen .riskselectionmainholder{
    height: calc(100vh - 308px);
    overflow-y: auto;
    padding: 0px 10px;
}

body.theme_lightgreen .reftabmaindiv{
    height: calc(100vh - 264px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 10px;
}

body.theme_lightgreen .sharerefsliptext {
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

body.theme_lightgreen .reftabmaindiv .MuiAccordionSummary-root{
    background-color: #4DB6AC;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
}

body.theme_lightgreen .reftabmaindiv .MuiAccordionSummary-root span svg {
    fill: #fff;
}

body.theme_lightgreen .addclient-page .MuiTabs-scroller.MuiTabs-scrollable{
    position: fixed;
    bottom: 66px;
    width: calc(100vw - 35px);
    overflow-x: scroll;
    box-shadow: 3px -8px 10px -9px rgba(0,0,0,0.75);
-webkit-box-shadow: 3px -8px 10px -9px rgba(0,0,0,0.75);
-moz-box-shadow: 3px -8px 10px -9px rgba(0,0,0,0.75);
width: calc(100vw - 0px);
    margin-left: 0px;
}

body.theme_lightgreen .addclient-page .MuiTabs-root{
    position: fixed;
    bottom: 66px;
    width: calc(100vw - 0px);
}

body.theme_lightgreen .addclient-page .MuiTabs-flexContainer {
    display: flex;
    justify-content: space-between;
}

body.theme_lightgreen .searchtabmaindiv.mytasksdiv .MuiAccordionDetails-root,
body.theme_lightgreen .profilepage .MuiAccordionDetails-root {
  flex-direction: column;
}

body.theme_lightgreen #tasksearchdate-label.MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 0px) scale(1);
}

body.theme_lightgreen .quizprogresstext{
    color: #333 !important;
}

body.theme_lightgreen .searchtabmaindiv .progresscontainer{
    margin-bottom: 0px !important;
}

body.theme_lightgreen .quizinfoholder {
    background: #5d5858;
    padding: 10px;
    text-align: center;
    border: 2px solid #12c0ff;
    border-radius: 4px;
    margin-bottom: 15px;
}

/* Chat page styles */

body.theme_lightgreen .rsc-header{
    display: none !important;
}

body.theme_lightgreen .rsc-container{
    box-shadow: none !important;
}

body.theme_lightgreen .rsc-content{
    height: calc(100vh - 207px) !important;
    overflow-y: auto !important;
}

body.theme_lightgreen .rsc-footer .rsc-input{
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background-color: #ffff;
}

body.theme_lightgreen .rsc-input:disabled {
    background-color: #ffff !important;
    background: #ffff !important;
}

body.theme_lightgreen .rsc-footer,.rsc-container{
    border-radius: 0px !important;
}

body.theme_lightgreen .react-quiz-container{
    margin: 0px !important;
     width: auto !important;
}

body.theme_lightgreen .react-quiz-container .questionWrapper .btn {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #908686 !important;
    font-size: 15px;
    display: block;
    white-space: normal;
    text-align: unset;
}

body.theme_lightgreen #dob-label.MuiInputLabel-formControl,
body.theme_lightgreen #registerdob-label.MuiInputLabel-formControl,
body.theme_lightgreen #doreferral-label.MuiInputLabel-formControl {
    top: 0;
    left: 0;
    position: absolute;
    transform: translate(0, 0px) scale(1);
}

body.theme_lightgreen .searchtabmaindiv .MuiAccordionDetails-root .MuiTypography-root,
body.theme_lightgreen .reftabmaindiv .MuiAccordionDetails-root .MuiTypography-root {
    width: 100%;
}

body.theme_lightgreen .bottomnavbar .MuiBottomNavigationAction-label.MuiBottomNavigationAction-iconOnly {
    opacity: 1;
    transition-delay: 0s;
}

body.theme_lightgreen .bottomnavbar .MuiBottomNavigationAction-root.MuiBottomNavigationAction-iconOnly {
    padding-top: 0px;
}

body.theme_lightgreen .bottomnavbar .anchorLink.active .MuiBottomNavigationAction-root svg {
    color: #2995d3;
}

body.theme_lightgreen .bottomnavbar .anchorLink.active .MuiBottomNavigationAction-label {
    color: #2995d3;
}

body.theme_lightgreen .searchtabsinglemaindiv.searchtabsinglemaindiv {
    height: calc(100vh - 151px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 10px;
}

body.theme_lightgreen .login-submitbtnholder a {
    background-color: #545454;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    border: 1px solid #545454;
    text-decoration: none;
}

body.theme_lightgreen .myclientslistholder ul li{
    padding-left: 0px;
    padding-right: 0px;
}

body.theme_lightgreen .myclientslistholder button{
    justify-content: flex-start;
}

@media only screen and (min-width: 1200px) {
body.theme_lightgreen .bottomnavbar .MuiBottomNavigation-root {
    height: 66px;
    display: flex;
    justify-content: space-between;
    background-color: #f9ffff;
    align-items: center;
}
/* body.theme_lightgreen .customregistrationtabs .fullWidth > div {
    padding-top: 53px !important;
} */

.searchcustombg{
    padding-top: 100px !important;
}
}


body.theme_lightgreen .addclientmenubg{
    -webkit-mask: url("../../assets/images/home/lightgreen/add-user.svg") no-repeat 50% 50%;
    mask: url("../../assets/images/home/lightgreen/add-user.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    /* background-image: url("../../assets/images/home/lightgreen/add-user.svg"); */
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-position: center;
    background-size: contain;
}

body.theme_lightgreen .dashboardmenubg{
    -webkit-mask: url("../../assets/images/home/homeicon.svg") no-repeat 50% 50%;
    mask: url("../../assets/images/home/homeicon.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
  /* background-image: url("../../assets/images/home/lightgreen/dashboard.svg"); */
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-position: center;
    background-size: contain;  
   
}


body.theme_lightgreen .myclientsmenubg{
    -webkit-mask: url("../../assets/images/home/lightgreen/records.svg") no-repeat 50% 50%;
    mask: url("../../assets/images/home/lightgreen/records.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
   /* background-image: url("../../assets/images/home/lightgreen/records.svg"); */
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-position: center;
    background-size: contain;   
}

body.theme_lightgreen .mytasksmenubg{
    -webkit-mask: url("../../assets/images/home/lightgreen/clipboard.svg") no-repeat 50% 50%;
    mask: url("../../assets/images/home/lightgreen/clipboard.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    /* background-image: url("../../assets/images/home/lightgreen/clipboard.svg"); */
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-position: center;
    background-size: contain; 
}

body.theme_lightgreen .tutorialmenubg{
    -webkit-mask: url("../../assets/images/home/lightgreen/video-tutorial.svg") no-repeat 50% 50%;
    mask: url("../../assets/images/home/lightgreen/video-tutorial.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    /* background-image: url("../../assets/images/home/lightgreen/video-tutorial.svg"); */
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-position: center;
    background-size: contain; 
}

body.theme_lightgreen .chatmenubg{
    -webkit-mask: url("../../assets/images/home/lightgreen/speech-bubble.svg") no-repeat 50% 50%;
    mask: url("../../assets/images/home/lightgreen/speech-bubble.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    /* background-image: url("../../assets/images/home/lightgreen/speech-bubble.svg"); */
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-position: center;
    background-size: contain; 
}
body.theme_lightgreen .searchbg{
    -webkit-mask: url("../../assets/images/home/lightgreen/search.svg") no-repeat 50% 50%;
    mask: url("../../assets/images/home/lightgreen/search.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    /* background-image: url("../../assets/images/home/lightgreen/search.svg"); */
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-position: center;
    background-size: contain; 
}

body.theme_lightgreen .alertbg{
    -webkit-mask: url("../../assets/images/home/lightgreen/alert.svg") no-repeat 50% 50%;
    mask: url("../../assets/images/home/lightgreen/alert.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    /* background-image: url("../../assets/images/home/lightgreen/alert.svg"); */
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-position: center;
    background-size: contain; 
}

body.theme_lightgreen .referalbg{
    -webkit-mask: url("../../assets/images/home/lightgreen/referral.svg") no-repeat 50% 50%;
    mask: url("../../assets/images/home/lightgreen/referral.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    /* background-image: url("../../assets/images/home/lightgreen/referral.svg"); */
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-position: center;
    background-size: contain; 
}

body.theme_lightgreen .databg{
    -webkit-mask: url("../../assets/images/home/lightgreen/dataentry.svg") no-repeat 50% 50%;
    mask: url("../../assets/images/home/lightgreen/dataentry.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    /* background-image: url("../../assets/images/home/lightgreen/dataentry.svg"); */
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-position: center;
    background-size: contain; 
}
body.theme_lightgreen .transferOut{
    -webkit-mask: url("../../assets/images/home/lightgreen/file-upload.svg") no-repeat 50% 50%;
    mask: url("../../assets/images/home/lightgreen/file-upload.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    /* background-image: url("../../assets/images/home/lightgreen/file-upload.svg"); */
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-position: center;
    background-size: contain; 
}
body.theme_lightgreen .transferIn{
    -webkit-mask: url("../../assets/images/home/lightgreen/file-download.svg") no-repeat 50% 50%;
    mask: url("../../assets/images/home/lightgreen/file-download.svg") no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
    /* background-image: url("../../assets/images/home/lightgreen/file-download.svg"); */
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-position: center;
    background-size: contain; 
}

body.theme_lightgreen .customregistrationtabs header.MuiPaper-root{
    background-color: #4DB6AC !important;
    color: #fff !important;
}

body.theme_lightgreen .casescardheader,body.theme_lightgreen .cardactionfooter{
    background-color: #4DB6AC !important;
}
body.theme_lightgreen .cardactionfooter .MuiSvgIcon-root{
 fill: #fff !important;
}
.Mui-selected .MuiTab-wrapper{
    font-size: 14px !important;
}
body.theme_lightgreen  .regformsubmitbtn {
    background-color: #4DB6AC;
}
body.theme_lightgreen .caselistholder > ul{
    background-color: #ffff !important
}
body.theme_lightgreen .caselistholder{
    background-color: #ffff !important
}
body.theme_lightgreen .MuiTab-textColorInherit.Mui-selected{
    background-color: #057F85;
    box-shadow: 3px -8px 10px -9px rgb(216 248 243);
}
body.theme_lightgreen .alerts_title{
    background-color: #4DB6AC;
    color: #fff !important;
    padding: 10px;
}
body.theme_lightgreen .alertsdetailholder{
 border: 2px solid #4DB6AC;
}

body.theme_lightgreen .casescardheader {
    padding: 5px !important;
}
body.theme_lightgreen .casescardheader .MuiAvatar-circle {
    background-color: transparent;
}
body.theme_lightgreen .cardactionfooter {
    padding: 0px !important;
}
body.theme_lightgreen .customregistrationtabs .fullWidth > div {
    /* padding-top: 0px !important ; */
}
body.theme_lightgreen .customLoc {
    background-color: inherit !important;
    border:none !important;
}
@media only screen and (min-width: 1100px) {
    body.theme_lightgreen .customregistrationtabs .fullWidth .MuiGrid-container .MuiGrid-item.customLoc {
        background-color: inherit !important;
        border:none !important;
    }  

   .buttons.linkbtn{
       padding-top: 50px;
   }

   body.theme_lightgreen .visibilityiconcontainer{
      /* position: relative; */
   }

   /* body.theme_lightgreen .visibilityiconcontainer svg{
        position: absolute;
        top: -18px;
        right: 40px;

   } */
}

@media only screen and (min-width: 767px) {
    body.theme_lightgreen .customregistrationtabs .fullWidth .MuiGrid-container .MuiGrid-item.customLoc {
        background-color: inherit !important;
        border:none !important;
    }  
}
body.theme_lightgreen .customregistrationtabs .fullWidth .MuiGrid-container .MuiGrid-item > div {
    border: none  !important;
    padding: 0 !important;
    background-color: inherit !important
}
body.theme_lightgreen .alertsdetailholder {
    background-color: transparent;
    border: none;
    padding: 0;
}
body.theme_lightgreen .alerts_description_fields{
    padding-left: 5px;
}

body.theme_lightgreen .choose_alertdiv label.MuiInputLabel-animated,
body.theme_lightgreen .choose_alertdiv .MuiInputBase-input{
    color: #000 !important;
}
body.theme_lightgreen .searchcustombg.alertDiv,body.theme_lightgreen .searchcustombg.indiDiv{
    height: 100vh !important;
}

body.theme_lightgreen .searchformcontainer .MuiGrid-container,
body.theme_lightgreen .searchformcontainer .buttons ,
body.theme_lightgreen .searchformcontainer .MuiFormControl-root {
    padding-left: 20px !important;  
    padding-right: 20px;
}
body.theme_lightgreen .searchformheading {
    color: #000;
    padding-left: 20px;
}
body.theme_lightgreen .alertformheading {
    color: #000;
}   
body.theme_lightgreen .regcasetabs header.MuiPaper-root{
    /* position: fixed !important; */
    padding-left: 0px !important;
    padding-right: 0px !important;
    /* bottom: 66px; */
    top: 65px;
    box-shadow: 3px -8px 10px -9px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 3px -8px 10px -9px rgb(0 0 0 / 75%)
}
body.theme_lightgreen .regcasetabs form.fullWidth .innertabdivreg{
    height: calc(100vh - 230px);
    padding-left: 20px;
    padding-right: 20px;
}
@media (max-width: 599.95px){
    body.theme_lightgreen .regcasetabs .MuiTabs-scrollButtonsDesktop{
        margin: auto;
    }   
    .logintext{
        display: none;
    }
    body.theme_lightgreen .regcasetabs header.MuiPaper-root {
        top: 56px;
    }
}
body.theme_lightgreen .visibilityiconcontainer svg{
    margin-top: -60px;
} 
body.theme_lightgreen .forgotpw{
    margin-top: 10px;
    margin-bottom: 0px;
} 


body.theme_lightgreen .noHolder svg{
    fill: #fff !important;
    font-size: 20px;
}
body.theme_lightgreen .bottomnavbar{
    z-index: 1;
}
body.theme_lightgreen .bottomnavbar .MuiBottomNavigation-root{
    padding: 0px 20px !important;
}

body.theme_lightgreen .bottomIcons div{
 height: 30px !important;
 width: 30px !important;   
 margin: 5px auto !important;
}

body.theme_lightgreen .MuiTab-wrapper{
    /* color: #000; */
}
body.theme_lightgreen .MuiFormControlLabel-label {
    color: #000;
}
body.theme_lightgreen .buttonFlex{
    padding: 20px;
}

body.theme_lightgreen .userFolder{
    background-image: url("../../assets/images/folder.svg");
    height: 40px;
    width: 40px;
    margin: 0 auto;
    margin-bottom: 5px;
    background-position: center;
    background-size: contain; 
}

body.theme_lightgreen .MuiAccordionSummary-content.Mui-expanded{
    margin: 0px !important;
}

body.theme_lightgreen .reginnertabcontainer .fullWidth{
    padding: 0px !important;
}

body.theme_lightgreen .custom-shape-divider-top-1617788413 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    background: #4DB6AC;
}



body.theme_lightgreen .custom-shape-divider-top-1617788413 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 66px;
}

body.theme_lightgreen .custom-shape-divider-top-1617788413 .shape-fill {
    fill: #fff;
}

.pos-relative{
    position: relative;
}

body.theme_lightgreen .homeheaderdiv{
    height: 55px;
}

body.theme_lightgreen .homeheaderdiv h3{
    color: #4DB6AC;
    text-align: center;
    position: absolute;
    width: 100%;
    z-index: 9;
    margin-top: 15px !important;
}

body.theme_lightgreen .menulistingholder{
    height: calc(100vh - 130px);
    margin-top: 10px;
    background-color: #4DB6AC;
    overflow-y: hidden;
    position: relative;
}

body.theme_lightgreen .menulistingholder .homemenupageholder {
   height: calc(100vh - 124px);
    position: relative;
    /* display: flex; */
    align-items: center;
    padding: 0px 0px;
    justify-content: center;
    flex-direction: column;
    overflow-y: auto;
}

body.theme_lightgreen .menulistingholder .homemenupageholder .homemenucontainer {
    background: #fff;
    border-radius: 0px;
    padding: 10px 5px;
    font-size: 14px;
    font-weight: 700;
    height: calc(32vh - 52px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mt-57px{
    margin-top: 57px !important;
}

.color-white{
    color: #fff !important;
}

.theme_lightgreen .background-theme{
   background-color: #4DB6AC !important; 
}


body.theme_lightgreen thead tr th{
    background-color: transparent !important; 
    color: #fff !important;
}

body.theme_lightgreen tr:nth-child(even) {background-color: transparent;}

.theme_lightgreen .bottomIcons .addclientmenubg,
.theme_lightgreen .bottomIcons .searchbg,
.theme_lightgreen .bottomIcons .myclientsmenubg,
.theme_lightgreen .bottomIcons .dashboardmenubg{
    background-color: #4DB6AC !important; 
}

body.theme_lightgreen .MuiRadio-colorSecondary.Mui-checked {
    color: #4DB6AC;
}

body.theme_lightgreen .fc .fc-daygrid-day.fc-day-today{
    background-color: transparent !important;
    color: #fff !important;
} 

body.theme_lightgreen .fc-day-today .fc-daygrid-day-number{
    background-color: #4DB6AC !important;
    border-radius: 20% !important;
   width: 30px !important;
   height: 30px !important;
}

body.theme_lightgreen .customregistrationtabs .fullWidth .nameuicinfoholder{
    background-color: #4DB6AC !important;
}

body.theme_lightgreen .searchformcontainer .MuiAccordionSummary-root {
    background-color: #4DB6AC;
    color: #fff;
    border-radius: 4px;
}

body.theme_lightgreen .searchformcontainer .MuiAccordionSummary-root span svg {
    fill: #fff;
}

body.theme_lightgreen .searchformcontainer .MuiPaper-root.MuiAccordion-root{
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

body.theme_lightgreen .searchformcontainer .MuiPaper-root.MuiAccordion-root .MuiAccordionDetails-root{
    padding: 8px 16px 16px;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
}

body.theme_lightgreen .searchformcontainer .MuiPaper-root.MuiAccordion-root .MuiAccordionDetails-root ul.MuiList-root.MuiList-padding{
    padding-top: 0px;
    padding-bottom: 0px;
}

body.theme_lightgreen .myClientsCaseList {
    margin: 0px;
    background-color: #4db6ac !important;
    margin-bottom: -8px;
    padding-left: 8px;
}

.MuiAccordionDetails-root > div{
    width: 100%;
}

.myClientsCaseList button{
    border:none !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.referalscrolltabs .MuiAccordionDetails-root{
    padding: 0px;
}

.referalscrolltabs .MuiAccordionDetails-root .myClientsCaseList{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

body.theme_lightgreen .alertspage .regcasetabs header.MuiPaper-root{
    position: fixed !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    /* bottom: 0px; */
    box-shadow: 3px -8px 10px -9px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 3px -8px 10px -9px rgb(0 0 0 / 75%)
}

body.theme_lightgreen .alertspage.searchtabmaindiv {
    /* height: calc(100vh - 130px) !important; */
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 10px;
}

body.theme_lightgreen .referalcasespage .regcasetabs header.MuiPaper-root{
     position: fixed !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    /* bottom: 48px; */
    box-shadow: 3px -8px 10px -9px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 3px -8px 10px -9px rgb(0 0 0 / 75%)
}

body.theme_lightgreen .referalcasespage .regscrolltabs.layoutscrolltabs {
    margin-top: 100px;
    height: calc(100vh - 250px) !important;
    overflow-y: auto;
}

body.theme_lightgreen .referalcasespage .customregistrationtabs button.MuiTab-textColorPrimary.Mui-selected {
    color: #fff;
}

body.theme_lightgreen .transferoutpage{
    overflow-x: hidden;
}

body.theme_lightgreen .transferoutpage .regcasetabs header.MuiPaper-root{
    position: fixed !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    bottom: 0px;
    box-shadow: 3px -8px 10px -9px rgb(0 0 0 / 75%);
    -webkit-box-shadow: 3px -8px 10px -9px rgb(0 0 0 / 75%)
}

body.theme_lightgreen .transferoutpage .searchformcontainer{
    height: calc(100vh - 130px);
    overflow-y: auto;
    overflow-x: hidden;
}

body.theme_lightgreen .myclientspage.searchtabmaindiv {
    height: calc(100vh - 180px) !important;
    /* height: calc(100vh - 100px) !important; */
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 10px;
}

body.theme_lightgreen .myclientspage .MuiPagination-root{
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    padding-right: 20px;
}

body.theme_lightgreen .myclientspage .MuiPaginationItem-page.Mui-selected {
     background-color: #4db6ac !important;
     color: #fff !important;
}
body.theme_lightgreen .new_home_page{
    background: linear-gradient(90deg, rgba(48,113,107,1) 0%, rgba(75,176,168,1) 35%, rgba(44,103,99,1) 100%);
}
body.theme_lightgreen .new_home_page .cardtopBanner .bannerText {
    width: 90%;
    margin: 0 auto;
    color: #4db6ac;
    font-size: 1.3rem;
}
body.theme_lightgreen .new_home_page header{
    background: #18615a !important;
}
body.theme_lightgreen .new_home_page header svg {
    fill: #f2f2f2;
}
body.theme_lightgreen .new_home_page header h6{
    color: #f2f2f2;
}
body.theme_lightgreen .new-theme-sidebar .sidebar_list{
    background: #18615a !important;
}
body.theme_lightgreen .new-theme-sidebar .menuitem{
    background: #18615a !important;
}
body.theme_lightgreen .new-theme-sidebar .menuitem{
    color: #f2f2f2;
    fill: #f2f2f2
}
body.theme_lightgreen .homePageCardBlock .homePageCardHeader{
    padding-bottom: 10px;
    padding-top: 25px;
}
body.theme_lightgreen .homePageCardBlock .homePageCardHeader .MuiCardHeader-content span{
    font-size: 0.9rem;
    padding-left: 6%;
    margin-bottom: 0;
    color: #fff;
}
body.theme_lightgreen .homePageCardBlock .lightbg {
    background: #14524d;
    width: 100%;
}
body.theme_lightgreen .homePageCardBlock .darkbg{
    background-color: #041010;
    width: 100%;
}
body.theme_lightgreen .new_select_lang_sec .MuiFormControlLabel-label {
    color: #868897;
}

@media only screen and (min-width: 1200px){
    body.theme_lightgreen .mainsection.pT-55 {
        padding-top: 61px !important;
    }
   
    .pagelaterpart {
        height: 100vh !important;
        background-color: transparent !important;
    }

    .loginpageformholder,body.theme_lightgreen .langprefpageformholder{
        /* height: 100vh !important; */
        width: 70%;
        margin: 0 auto;
    }

    .custom-shape-divider-top-1612935135,.userwebapp{
        display: none !important;
    }

    body.theme_lightgreen .mainsection.pb-0{
        padding-top: 0px !important;
    }
    
    body.theme_lightgreen .loginpageformholder input{
        background: #fff !important;
    }
    
    body.theme_lightgreen .pageupperpart {
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0px 10px;
        justify-content: center;
        flex-direction: column;
    }

    .logintext .MuiTypography-h4{
        font-weight: 500 !important; 
    }

    .useravtarimgapp{
        background:url("../../assets/images/dohapp.png");
        height: 100px;
        /*40px;*/
        width: 100px;
        /*40px;*/
        margin: 0 auto;
        margin-bottom: 5px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
     
    }
   
}

